@import url('https://fonts.googleapis.com/css2? family= Playfair+Display:ital@1 & family= Raleway:ital,wght@1,200;1,500 & display=swap');

* {
  color: rgb(0, 0, 0);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: #e8e8e8;
  background-image: url(../media/cielo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.menu {
  ul {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;

    li {
      margin-right: 1.5rem;

      a {
        text-decoration: none;
        color: black;
      }

      &:hover {
        color: rgb(0, 162, 255);
      }
    }
  }


}

.logo {
  img {
    width: 50px;
    border-radius: 10px;
  }
}

.imagen1 {
  img {
    width: 100%;
    height: 350px;
    margin-top: 100px;
  }
}

.background_color {
  background-color: rgb(215, 242, 255);
}

header {
  background-color: rgb(215, 242, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;

}

.experiencia {
  h1 {
    padding: 40px;
    text-align: center;
    margin-top: 50px;
    background-color: rgb(87, 181, 236);
    border-radius: 150px;
 
  }

}

.nombre {
  h4 {
    padding: 2px;
    margin-left: 5px;
  }
}

.formulario1 {
  input {
    margin-left: 5px;
  }
}

.apellido {
  h4 {
    padding: 2px;
    margin-left: 5px;
  }
}

.formulario2 {
  input {
    margin-left: 5px;
  }
}

.expe {
  h4 {
    padding: 2px;
    margin-left: 5px;
  }
}

.formulario3 {
  input {
    width: 400px;
    height: 40px;
    margin-left: 5px
  }
}

.noso {
  h1 {
    padding: 40px;
    text-align: center;
    margin-top: 50px;
  }
}

.pro {
  h1 {
    padding: 40px;
    text-align: center;
    margin-top: 50px;
  }

}

.pro1 {
  img {
    width: 400px;
    height: 400px;
    margin-left: 60px;
  }
}

.pro1 {
  h4 {
    margin-left: 60px;
    padding: 10px;
  }
}



.pro1 {
  h2 {
    margin: 10px 0px 100px 200px;
  }

}

.pro2 {
  img {
    width: 400px;
    height: 400px;
    margin-left: 60px;
  }
}

.pro2 {
  h4 {
    margin-left: 60px;
    padding: 10px;
  }
}

.pro2 {
  h2 {
    margin: 10px 0px 100px 200px;
  }
}