#ignorar carpeta de node_modules
node_modules 
#ignorar archivo configuracion sass
.sass-cache 
#ignorar carpeta de notas
NOTAS 
#ignorar package-lock.json
package-lock-json
#ignorar package.json
packag.json
#ignorar archivo de configuracion de vscode
.vscode
.gitignore